@import "../utils/vars";

.header {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  background-color: $primary-page-color;
  column-gap: $grid-gap;
  height: 100vh;
  padding: 18px 20px 48px;
}
