.nav {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;

  &__list {
    display: flex;
    align-items: flex-end;
    gap: 32px;
  }

  &__anchor {
    display: grid;
  }

  &__title {
    justify-self: end;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      border-bottom: 2px solid #2060f6;
      margin-top: 8px;
    }
  }
}
