@import "./utils/reset";
@import "./utils/vars";
@import "./utils/mixins";

@import "./blocks/header.scss";

html {
  scroll-behavior: smooth;
}

body {
  background: $gray-color;
  font-family: "Poppins", sans-serif;
}
