@import "./utils/reset";
@import "./utils/vars";
@import "./utils/mixins";

@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/title";
@import "./blocks/paragraph";
@import "./blocks/button";
@import "./blocks/slider";

html {
  scroll-behavior: smooth;
}

body {
  background: $gray-color;
  font-family: "Poppins", sans-serif;
}
